.skillstory{
    font-family: "Open Sans";
    color: white;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
  }

.skills{
  background-color: #f26a6b;
  padding-bottom: 50px;
  height: 100%;
}

#h2 {
  font-family: "Open Sans",sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 0.6em;
}
